:root {
	--fg: black;
	--bg: transparent;
	--tint: #0002;
	--section-border: 4px solid #35a656;
	--border: 1px solid #35a656;

	--section-width: 40rem;
	--spacing: 20px;
	--side-bar-width: 28rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg: white;
		--bg: #1b1f1c;
		--tint: #333d36;
		--section-border: 4px solid #633006;
		--border: 1px solid #633006;
	}

	a {
		color: #c7b142;
	}

	a:visited {
		color: #c2872f;
	}
}

body {
	position: relative;
	width: fit-content;
	margin: var(--spacing) auto;

	display: flex;
	gap: var(--spacing);


	font-family: monospace;
	font-size: 16px;

	color: var(--fg);
	background-color: var(--bg);
}

main {
	display: flex;
	gap: var(--spacing);
}

aside {
	height: fit-content;
	width: var(--side-bar-width);
}

@media screen and (min-width: 1044px) {
	aside {
		position: sticky;
		top: var(--spacing);
	}
}

@media screen and (max-width: 1044px) {
	body {
		flex-direction: column;
	}
}

@media screen and (max-width: 100rem) {
	main {
		flex-direction: column;
	}
}

div.column {
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
}

section {
	border: var(--section-border);
	padding: 10px var(--spacing);
	width: var(--section-width);
	box-sizing: content-box;
}

p {
	hyphens: auto;
}

table, th, td {
	border: var(--border);
}

table {
	margin: auto;

	figure & {
		/*width: 100%;*/
		& td {
			text-align: center;
			& pre {
				text-align: left;
			}
		}
	}
}

details {
	border: var(--border);
	padding: 5px;

	&:has(summary:hover) {
		background-color: var(--tint);
	}
}

summary {
	cursor: pointer;
}

img {
	figure & {
		width: 100%;
		display: block;
		margin: 0 auto;
	}
}

figcaption {
	margin-top: 0.5rem;
	text-align: center;
}

hr {
	width: 100%;
}

code {
	border: 1px solid var(--tint);
	padding: 1px 2px;
	border-radius: 3px;
	background-color: var(--tint);

	pre & {
		padding-right: 4ch;
		display: block;
	}
}

div.center {
	text-align: center;
}

.st-table td {
	width: 74px;
	padding: 5px;
	box-sizing: content-box;
	text-align: center;
}

.st-table {
	vertical-align: start;
	border: none;
}

.st-atlas {
	--p: 0px 0px;
	background: url("assets/st-atlas.webp");
	background-size: 256px 320px;
	background-position: var(--p);
	display: inline-block;
	height: 64px;
	width: 64px;

	& + & {
		margin-left: 14px;
	}
}

#ca-demo {
	& td {
		text-align: center;
		width: 3ch;

		&[data-t="1"], &:has(:checked) {
			background-color: var(--tint);
		}
	}

	& label {
		display: inline-block;
		width: 100%;
		&:has(:checked)::before {
			content: "1";
		}
		&:not(:has(:checked))::before {
			content: "0";
		}

		& input {
			display: none;
		}
	}
}
