:root {
	--dark: #4e4743;
}

/*  */

body {
	background-color: #e4d6c6;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

hr {
	border-style: solid;
	border-top: none;
}

img {
	margin: 0.5rem 0.7rem;
}

a {
	color: var(--dark);
}

/*  */

.root {
	width: 100%;
	max-width: 76ch;
}

.page {
	font-family: "Inconsolata", monospace;
	border: 1px solid var(--dark);
	color: var(--dark);
	padding: 1rem 2rem;
	margin: 1rem;
	line-height: 140%;
	text-indent: 3ch;
	text-align: justify;
}

@media only screen and (orientation: portrait) {
	body {
		margin: 0rem;
		padding: 0rem;
	}

	.page {
		margin: 0.8rem;
		padding: 0.6rem 1.2rem;
	}
}

@media only screen and (orientation: landscape) {
	.root {
		max-width: unset;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.page {
		max-width: calc(50% - 6rem);
		flex-grow: 1;
		flex-shrink: 1;
	}
}
